# App / público
NEXT_PUBLIC_APP_URL=https://wisdomwear.com.br
NEXT_PUBLIC_TENANT_ID=wisdomwear
NEXT_PUBLIC_TENANT_NAME=Wisdom Wear
WISDOMWEAR_APP_URL=https://wisdomwear.com.br
WISDOMWEAR_TENANT_ID=wisdomwear
